.portfolio-item {
    margin: 10px 0 20px 0;
    clear: both;
}

.portfolio-item h2, .portfolio-item p {
    text-align: left;
}

.portfolio-text {
    margin-left: 13px;
    margin-right: 13px;
}

.portfolio-item img, .portfolio-item video {
    height: auto;
	width: 100%;
/*     width: 384px; */
    float: left;
/*     margin: 0 12px 0 15px; */
    border-radius: 10px;
/*     box-shadow: 0px 3px 10px #555555; */
	box-shadow: 5px 5px 10px #888888; /*#888888;
/* 	box-shadow: 5px 5px 5px #888888; */
/* 	background-color: #000000; */
/* 	border: 1px solid #ccc; */
/*     border-top: 1px solid #888888; */
/*     border-bottom: 1px solid #888888; */
	border: 1px solid #000000;
}

/*.play-button {
    position: relative;
    bottom: 10px;
    width: 40px;
    height: 20px;
    background: #EEE;
    border: 1px solid #CCC;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.play-button label {
    position: absolute;
    top: 5px;
    left: 14px;
    cursor: pointer;
}

.play-button input[type=checkbox] {
    visibility: hidden;
}

.play-button input[type=checkbox]:checked + label {
    width: 4px;
    height: 10px;
    border-right: 4px solid #000;
    border-left: 4px solid #000;
}

.play-button input[type=checkbox]:not(:checked) + label {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 13px solid #000;
    border-bottom: 5px solid transparent;
}

.play-button:hover {
    background: #ed5565;
}*/

